# Welcome to Jekyll!
# bundle exec jekyll serve --watch
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# description: "Versatile developer, system analyst, and testing specialist with expertise in security testing, performance testing, and database testing. Proficient in creating REST APIs, I bring a comprehensive approach to system analysis, design, and development. My skills encompass analyzing complex systems, designing efficient solutions, and implementing them across various platforms. I excel in ensuring the security and robustness of applications through thorough security testing practices. Additionally, I specialize in optimizing application performance and ensuring database integrity through effective performance and database testing strategies. Whether crafting responsive and user-friendly websites, architecting robust software solutions, developing elegant iOS applications, creating REST APIs, or implementing rigorous testing methodologies, my goal is to deliver secure, high-performance applications with a focus on optimal functionality and a superior user experience."
# description: "Versatile developer, system analyst, and automated testing enthusiast with a strong foundation in system analysis, design, web development, software engineering, and iOS app development. I specialize in analyzing complex systems, designing efficient solutions, and implementing them across various platforms. My expertise extends to automated testing frameworks like Jest, where I ensure the reliability and functionality of applications. Whether creating responsive and user-friendly websites, architecting robust software solutions, developing elegant iOS applications, or implementing effective automated testing strategies, I bring a holistic approach to the development lifecycle. My goal is to deliver high-quality, maintainable code and seamless user experiences across diverse technological landscapes."

title: Frederick's Space
subtitle: Under Construction...
email: frederickvision@hotmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Versatile developer, system analyst, and testing specialist with a strong foundation in
  system analysis, design, web development, software engineering, and iOS app development.
  I specialize in analyzing complex systems, designing efficient solutions, and implementing them across various platforms.
  My skills extend to automated testing, security testing, performance testing, and database testing.
  Whether crafting responsive and user-friendly websites, architecting robust software solutions, 
  developing elegant iOS applications, creating REST APIs, or implementing rigorous testing methodologies, 
  my goal is to deliver high-quality, maintainable code and to create secure, high-performance applications 
  with a focus on optimal functionality and a superior user experience.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://badpolymer.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
github_username:  badpolymer
# MISC settings
search: true
minimal_mistakes_skin: "dark"
atom_feed:
  path: # blank (default) uses feed.xml
  hide: true
# Build settings
# theme: minima
# plugins:
  # - jekyll-feed
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
plugins:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Site Footer
footer:
  links:
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   # url:
    # - label: "Facebook"
    #   icon: "fab fa-fw fa-facebook-square"
    #   url:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/badpolymer"
    # - label: "GitLab"
    #   icon: "fab fa-fw fa-gitlab"
    #   url:
    # - label: "Bitbucket"
    #   icon: "fab fa-fw fa-bitbucket"
      # url:
    # - label: "Instagram"
    #   icon: "fab fa-fw fa-instagram"
    #   # url:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/freddzai/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
